
<div class="layui-main">
    <a class="logo" style="left: 0;" href="#">
        <span style="font-size: 22px;">微信后台</span>
    </a>
    <ul class="admin-header-info">
        <li class="admin-header-item">
            <a href="#" target="_blank">欢迎</a>
        </li>
        <li class="admin-header-item">
            <div class="admin-header-user" id="user">
                <img src="~/Content/didiadmin/avatar.jpg" />
                <span>beginner</span>
                <i class="layui-icon">&#xe625;</i>
            </div>
            <ul class="admin-header-dropdown" style="display: none;" id="user-item">
                <li class="admin-header-dropdown-item"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</li>
                <li class="admin-header-dropdown-item"><i class="fa fa-gear" aria-hidden="true"></i> 设置</li>
                <li class="admin-header-dropdown-split"></li>
                <li class="admin-header-dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</li>
            </ul>
        </li>
        <!--<li class="admin-header-item">
            <a href="#">注销</a>
        </li>-->
    </ul>
</div>