
@*<dd>
        <a href="javascript:;" data-url="http://www.layui.com/demo/auxiliar.html">
            <i class="layui-icon" style="top: 2px;">&#xe60c;</i>
            <cite>辅助性元素</cite>
        </a>
    </dd>*@

<div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree admin-nav-tree">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">后台管理</a>
            <dl class="layui-nav-child">
                <dd><a href="/Admin/Admin/WxMenu">自定义菜单</a></dd>
                <dd><a href="/Admin/DeptVote/Index">部门管理</a></dd>
                <dd><a href="/Admin/GroupManage/Index">事业部管理</a></dd>
                <dd><a href="/Admin/GroupManage/PartArea">片区管理</a></dd>
                <dd><a href="/Admin/VoteCount/Index">投票统计</a></dd>
            </dl>
        </li>
        </ul>
</div>

    @*<ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">后台管理</a>
            <dl class="layui-nav-child">
                <dd><a href="/Admin/Admin/WxMenu">自定义菜单</a></dd>
                <dd><a href="/Admin/Vote/Index">投票发布</a></dd>
                <dd><a href="/Admin/GroupManage/Index">事业部管理</a></dd>
            </dl>
        </li>

    </ul>*@
